<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>OCESA</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb141129603251560</string>
			</array>
			<key>LSApplicationQueriesSchemes</key>
			<array>
				<string>fbapi</string>
				<string>fbapi20130214</string>
				<string>fbapi20130410</string>
				<string>fbapi20130702</string>
				<string>fbapi20131010</string>
				<string>fbapi20131219</string>
				<string>fbapi20140410</string>
				<string>fbapi20140116</string>
				<string>fbapi20150313</string>
				<string>fbapi20150629</string>
				<string>fbapi20160328</string>
				<string>fbauth</string>
				<string>fb-messenger-share-api</string>
				<string>fbauth2</string>
				<string>fbshareextension</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FacebookAppID</key>
	<string>141129603251560</string>
	<key>FacebookClientToken</key>
	<string>43ecebc29c12622c1df8e738dcf4ecfc</string>
	<key>FacebookDisplayName</key>
	<string>OCESA</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>comgooglemaps</string>
		<string>citymapper</string>
		<string>uber</string>
		<string>lyft</string>
		<string>transit</string>
		<string>truckmap</string>
		<string>waze</string>
		<string>yandexnavi</string>
		<string>moovit</string>
		<string>yandextaxi</string>
		<string>yandexmaps</string>
		<string>kakaomap</string>
		<string>szn-mapy</string>
		<string>mapsme</string>
		<string>osmandmaps</string>
		<string>gett</string>
		<string>nmap</string>
		<string>dgis</string>
		<string>lftgpas</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCalendarsUsageDescription</key>
	<string>OCESA necesita acceder a tu calendario</string>
	<key>NSContactsUsageDescription</key>
	<string>OCESA necesita acceder a tus contactos</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>OCESA necesita acceder a tu ubicación para mostrarte los eventos que tenemos cerca de ti.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Interstate-Black.ttf</string>
		<string>Interstate-BlackCompressed.ttf</string>
		<string>Interstate-BlackCondensed.ttf</string>
		<string>Interstate-Bold.ttf</string>
		<string>Interstate-BoldCompressed.ttf</string>
		<string>Interstate-BoldCondensed.ttf</string>
		<string>Interstate-Light.ttf</string>
		<string>Interstate-LightCompressed.ttf</string>
		<string>Interstate-LightCondensed.ttf</string>
		<string>Interstate-Regular.ttf</string>
		<string>Interstate-RegularCompressed.ttf</string>
		<string>Interstate-RegularCondensed.ttf</string>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Fontisto.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>Nuestro objetivo es brindarte una experiencia totalmente personalizada</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
